@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e7c6ff;
}

.container {
  width: 450px;
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border-radius: 8px;
}

.container h2 {
  font-size: 1.31rem;
  font-weight: 600;
  padding: 1rem 1.175rem;
  border-bottom: 1px solid #000814;
}

.wrapper {
  margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
  position: relative;
}

.wrapper .pass-indicator {
  position: relative;
  width: 100%;
  height: 4px;
  background: #fff;
  margin-top: 0.75rem;
  box-shadow: 25px;
}

.wrapper .pass-length {
  margin: 1.56rem 0 1.25rem;
}

.wrapper .generate-btn {
  width: 100%;
  font-size: 1.06;
  padding: 0.94rem 0;
  margin-bottom: 0.94rem 0 1.3rem;
  border-radius: 5px;
  background: #f59816ce;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s ease;
}

.wrapper .generate-btn:hover {
  background: #f9844a;
  box-shadow: 3px 5px 7px #f8f9fa;
  transition: 0.3s ease;
}

.input-box input {
  width: 100%;
  height: 53px;
  color: #000;
  background: #fff;
  box-shadow: 3px 5px 10px #0000004a;
  font-size: 1.06rem;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #000814;
  padding: 0 2.85rem 0 1rem;
}

.input-box span {
  position: absolute;
  right: 13px;
  line-height: 53px;
  color: #f8961e;
  cursor: pointer;
}

.pass-indicator::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background: #4361ee;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.pass-indicator#weak::before {
    width: 20%;
    background: #d00000;
}

.pass-indicator#medium::before {
    width: 50%;
    background: #4cc9f0;
}

.pass-indicator#strong::before {
    width: 100%;
    background: #4361ee;
}



.pass-length .details {
  display: flex;
  justify-content: space-between;
}

.pass-length input {
  width: 100%;
  height: 5px;
}

.pass-settings .options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  list-style: none;
}

.pass-settings .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}

.options .option:first-child {
    pointer-events: none;
}

.options .option:first-child input {
  opacity: 0.7;
}

.options .option input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.options .option label {
  cursor: pointer;
  padding: 0.63rem;
}
